body {
  background: linear-gradient(#9efffd, #7f6fff);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', Helvetica, sans-serif;
}
#app, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
#points {
  list-style: none;
  position: fixed;
  right: 10px;
  text-align: right;
  top: 10px;
  z-index: -1;
}
path {
  fill: none;
  stroke-width: 1.5px;
}

line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

circle {
  fill: red;
}

circle:hover {
  fill: darkred;
}

.snapper {
  fill: blue;
}

rect {
  fill: none;
  cursor: crosshair;
  pointer-events: all;
}

svg {
  height: 100%;
  width: 100%;
}


.board-point-circle {
  text-anchor: middle;
  dominant-baseline: middle;
  font-family: 'Ubuntu, Helvetica, serif';
  font-weight: bold;
  font-size: xx-large;
}
